@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}
<h2>@Umbraco.Field("projectTitle")</H2>
@Umbraco.Field("projectDescription")
Status: @Umbraco.Field("pstatus")